body {
	margin: 0;
}

.siteHeader-container {
	display: table;
	width: 100%;
	background: #EEE;
	border-bottom: #CCC 1px solid;
}
.siteHeader-navigation {
	display: table-cell;
	width: 75%;
}
.siteHeader-list {
	display: table;
	margin: 0;
	padding: 0;
}
.siteHeader-list_logout {
	display: table-cell;
	width: 25%;
	text-align: right;
}
.siteHeader-item {
	display: table-cell;
	padding: 1em;
}
.siteHeader-item_logout {
	display: block;
	text-align: right;
}
