body {
	margin: 0;
}

.siteHeader-container {
	background: #EEE;
	border-bottom: #CCC 1px solid;
	font-size: 0;
}
.siteHeader-navigation {
	display: inline-block;
	width: 75%;
}
.siteHeader-list {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.siteHeader-list_logout {
	width: 25%;
	text-align: right;
}
.siteHeader-item {
	display: inline-block;
	padding: 1em;
	font-size: 1rem;
}
